<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackcat.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.BlackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.touchevent.TouchEventActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.thread.ThreadOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thread.ThreadTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thread.ThreadThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.service.ServiceOneActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.ServiceTest"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.IntentServiceTest"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.BindServiceTest"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.okhttp.OkhttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.retrofit.RetrofitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.proxy2.Proxy2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.proxy3.Proxy3Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.okhttp.NvWebSocketActivity" />
        <activity android:name=".ui.gestureDetector.GestureDetectorActivity" />
        <activity android:name=".ui.thread.FollowActivity"></activity>
        <activity android:name=".ui.custom.CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>